language: android

android:
  components:
    - build-tools-23.0.2
    - android-24
    - extra-android-m2repository
  licenses:
    - android-sdk-license-5be876d5

jdk:
  - oraclejdk7
  - oraclejdk8

script:
  - ./gradlew clean check

notifications:
  email: false

sudo: false

cache:
  directories:
    - $HOME/.gradle
